/* Styles the logo id with the zoom animation written below */
#logo{
    width: 475px;
    animation: zoom 5s;

}

@keyframes zoom{
from {width: 25px;}
to {width: 475px;}
from {opacity: 0;}
to {opacity: 1;}

}

/* Selector that designates the body font and backup font, along 
with background image and backup background color */
body{
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1; 

}

/* Sets the header element and nav_links class to flex 
to reflect the example page*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nav_links{
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

/* Style links to have same color when visited and not yet clicked */
a:visited, a:link{
    color:blue; 
    
}

/* Styles the card class and header within to reflect the example 
page: setting the background color and border, rounds the corners */
.card > header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 50px 0px;
    border-radius: 50px 50px 0px 0px;

}

/* Style card and pricing class to reflect example and utilize flex - elements 
put into columns, size, centering of elements, curving of border */
.card{
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
    
}


.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

/* Selectors to style images within the gallery class, and make 
the gallery class utilize flex to reflect the example */
.gallery img{
    border: 10px solid #50c7c7;
    margin: 10px;
    width: 300px;

}

.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}
/* Desktop view - media query */
@media screen and (min-width:900px){

/* Selectors to style header and nav_links class reflect the 
example - farthest left and farthest right from one another*/
header{
    flex-direction: row;
    justify-content: space-between;
}

.nav_links{
    flex-direction: row;
    
}

/* Selectors to style card and pricing class - size 
change, stop wrapping of content */
.card{
    flex-basis: 275px;

}

.pricing{
    flex-wrap: nowrap;   
   
}

body > header{
    position: sticky;
    top: 0;
    
}

}

/* Reduced motion media query */
@media screen and (prefers-reduced-motion: reduce) {

/* Disables the animation of the logo */
    #logo{
        animation: none;

    }

}

/* print view media query */
@media print { /* doesn't have three rows fix this */
/* Selector to remove background image and simplify font */
    body{
        font-family: Arial, Helvetica;
        background-image: none;
        
    }

/* Selector to style navigation reflect example - even spacing */
    .nav_links{
        flex-direction: row;
        justify-content: space-evenly;
         
    }

    nav{
        width: 100%;

    }

 /* Selector to style pricing and card class reflect example - 
 push content to end of page, add border style, change size */
    .pricing{
        height: 100%;
        flex-wrap: nowrap;

    }

    .card{
        align-self: flex-end;
        border: 2px solid #45ADDD;
        flex-basis: 325px;

    }

/* Remove gallery from print view */
    #gallery, .gallery{
        display:none;       

    }

/* Add thumbs up emoji to the end of the second line of text within 
each ul in the card class */
    .card ul :nth-child(2)::after{
        content: "👍";
    }

}
